.btn {
    background-color: $mainPink;
    color: #333;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        padding: .9rem 1.7rem;

        @mixin atSmall {
            font-size: 1.25rem;
            padding: 1.1rem 1.9rem;
        }
    }

    &--flex {
        margin-right: 20px;
    }

    &__animation-is-running {
        background-color: $mainPink;
        animation-name: flash2;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;

        @keyframes flash2 {
            0% {background-color: $mainPink}
            25% {background-color: #f6ff78}
            50% {background-color: #b3ff78}
            50% {background-color: #ff7d78}
            100% {background-color: #ffc078}
        }
    }
}