.music-box-item {
    padding: 10px;
    border: 5px solid $mainPink;
    border-radius: 5px;
    background-color: $mainOrange;
    text-align: center;
    font-size: 2rem;
    width: 88%;
    margin: auto;

    @mixin atSmall {
        min-height: 20rem;
    }

    h3 {
        margin-bottom: 8px;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        color: rgb(65, 65, 65);
        font-weight: 600;
        font-size: 2rem;
        font-style: italic;
    }

    &__photo {
        border-radius: 180px;
        overflow: hidden;
        width: 300px;
        height: 300px;
        margin: 0 auto -180px auto;
        position: relative;
        top: -180px;
        border: 6px solid $mainPink;

        @mixin atSmall {
            width: 360px;
            height: 360px;
        }
    }

    &__animation-is-running {
        border-width: 5px;
        border-color: $mainPink;
        border-style: solid;
        animation-name: flash;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;

        @keyframes flash {
            0% {border-width: 5px;
                border-style: solid;
                border-color: $mainPink;}
            25% {border-width: 5px;
                border-style: solid;
                border-color: #f6ff78}
            50% {border-width: 5px;
                border-style: solid;
                border-color: #b3ff78}
            50% {border-width: 5px;
                border-style: solid;
                border-color: #ff7d78}
            100% {border-width: 5px;
                border-style: solid;
                border-color: #ffc078}
        }
    }
}
